# MAKE A COPY OF THIS, RENAME IT .env AND THEN DELETE THIS FILE

# FEC_Auth_Token goes here

# AUTH_TOKEN: abcdefghijkLMNOP123456890

# Campus Code
# CAMPUS_CODE: hr-rfp

# PORT = 3000;

# INSERT LINE 11 INTO YOUR CONTROLLER FILE & SERVER INDEX.JS
# const dotenv = require('dotenv');